In [4]:
import numpy as np
import pandas as pd
import cv2 as cv
from matplotlib import pyplot as plt
import requests
import json
import csv

In [26]:
# Get the "all" json
import requests
r = requests.get('http://127.0.0.1:5000/api/all')
r=requests.get(url)

print(r.status_code)
data_json= r.json()

200

In [38]:
# Initial json
pd.DataFrame(data_json).to_json('data.json')

In [17]:
# Restructure data
df=pd.read_csv('./static/data.csv')
print(df.shape)

(100000, 19)

In [41]:
df['gender_dum']= np.where(df['gender']=="F", 1, 0)
df['education_id'].replace("null", 0,inplace=True)
df['education_id']= df['education_id'].astype(int)
df.loc[df['race_code']== "W", 'race_code'] = 1
df.loc[df['race_code']== "B", 'race_code'] = 2
df.loc[df['race_code']== "O", 'race_code'] = 3
df.loc[df['race_code']== "I", 'race_code'] = 4
df.loc[df['race_code']== "H", 'race_code'] = 5
df.loc[df['race_code']== "N", 'race_code'] = 6
df.loc[df['race_code']== "P", 'race_code'] = 7
df.loc[df['race_code']== "A", 'race_code'] = 8
df.loc[df['race_code']== "C", 'race_code'] = 9
df['race_code']= df['race_code'].astype(int)
df.head(20)

,economic_stability,education,education_id,facebook_user_rank,gender,has_insurance,home_owner,id,income,insurance_segment,insurance_segment_id,is_exerciser,is_smoker,race,race_code,sports_leisure_spending,state,travel_spending,youtube_user_rank,gender_dum
0,27,Completed High School,1,10,M,,,1,25,Price Isn't Primary,1,,,Black,2,null,NE,33,10,0
1,8,Completed College,2,18,M,,O,2,357,Solid Suburbans,6,,,White,1,null,FL,136,19,0
2,13,null,0,19,M,,O,3,25,Price Isn't Primary,1,1,,Other,3,5,NE,18,19,0
3,23,Completed College,2,16,M,,,4,51,Solid Suburbans,6,1,,Other,3,null,MO,527,14,0
4,23,null,0,16,F,,,5,51,Solid Suburbans,6,1,,Other,3,null,MO,527,14,1
5,25,null,0,15,F,,,6,48,Stretched Singles,2,,,Black,2,60,LA,4,12,1
6,25,Completed High School,1,12,F,,,7,42,Stretched Singles,2,1,,Black,2,290,LA,236,9,1
7,5,null,0,11,F,,O,8,78,Full House,7,,,White,1,null,LA,2655,12,1
8,6,Completed College,2,17,F,,O,9,67,Solid Suburbans,6,1,,White,1,null,LA,170,16,1
9,17,null,0,11,M,,O,10,67,The Nest is Empty,4,1,,Black,2,null,GA,698,11,0
10,16,Completed Graduate School,3,8,M,,O,11,22,Getting By,8,,,Black,2,null,LA,100,5,0
11,18,Completed College,2,12,M,,O,12,71,Full House,7,1,,Black,2,null,LA,358,13,0
12,11,Completed Graduate School,3,8,M,,O,13,164,Price Isn't Primary,1,,,White,1,null,LA,63,7,0
13,13,Completed College,2,10,M,,O,14,155,Price Isn't Primary,1,,,White,1,181,LA,35,11,0
14,14,Completed High School,1,17,M,,O,15,57,Price Isn't Primary,1,,,White,1,null,LA,60,15,0
15,2,Completed High School,1,15,M,,O,16,109,Solid Suburbans,6,1,,Black,2,null,TX,120,14,0
16,17,Completed High School,1,17,F,,O,17,27,Full House,7,1,,Black,2,null,LA,15,16,1
17,23,Completed High School,1,18,M,,O,18,13,Price Isn't Primary,1,,,American Indian,4,null,LA,38,19,0
18,11,null,0,13,F,,O,19,37,Solid Suburbans,6,,,White,1,null,AL,88,11,1
19,25,Completed High School,1,8,F,,O,20,45,Getting By,8,,,White,1,null,LA,50,4,1

In [42]:
print (df.dtypes)

economic_stability          int64
education                  object
education_id                int64
facebook_user_rank          int64
gender                     object
has_insurance              object
home_owner                 object
id                          int64
income                      int64
insurance_segment          object
insurance_segment_id        int64
is_exerciser               object
is_smoker                  object
race                       object
race_code                   int64
sports_leisure_spending    object
state                      object
travel_spending             int64
youtube_user_rank           int64
gender_dum                  int64
dtype: object

In [43]:
pd.DataFrame(df).to_csv('data.csv', index=False)

In [44]:
list(df)

['economic_stability',
 'education',
 'education_id',
 'facebook_user_rank',
 'gender',
 'has_insurance',
 'home_owner',
 'id',
 'income',
 'insurance_segment',
 'insurance_segment_id',
 'is_exerciser',
 'is_smoker',
 'race',
 'race_code',
 'sports_leisure_spending',
 'state',
 'travel_spending',
 'youtube_user_rank',
 'gender_dum']

In [48]:
# Restructured data to json
import csv
import json

# create json
csvfile = open('/Volumes/Samsung_t3/project-repos/mm-exercise/data.csv', 'r')
jsonfile = open('/Volumes/Samsung_t3/project-repos/mm-exercise/data.json', 'w')

fieldnames = ('economic_stability',
 'education',
 'education_id',
 'facebook_user_rank',
 'gender',
 'has_insurance',
 'home_owner',
 'id',
 'income',
 'insurance_segment',
 'insurance_segment_id',
 'is_exerciser',
 'is_smoker',
 'race',
 'race_code',
 'sports_leisure_spending',
 'state',
 'travel_spending',
 'youtube_user_rank',
 'gender_dum')
reader = csv.DictReader( csvfile, fieldnames)
out = json.dumps( [ row for row in reader ] )
jsonfile.write(out)

46213478